.detailsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.detailsPage h1{
    text-align: center;
}

.characterProperties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5f5;
    list-style-type: none;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 20px;
    text-decoration: none;
}

.characterProperties li{
    padding: 25px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.fav-btn{
    display: block;
    width: 127px;
    height: 45px;
    background: #e00029;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.rmv-btn{
    display: block;
    height: 45px;
    background: #696566;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}