.home-btn {
    display: block;
    background: #75934e;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 20px;
    text-decoration: none;
}

.fav-section{
    display: block;
    background: #3c3c20;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 20px;
    text-decoration: none;
}